@charset "UTF-8";

// Built-in modules
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "sass:selector";
@use "sass:string";

// Reflex settings and modules
@use "reflex/settings" as settings;

/// Configure the `align-items` [data-grid] trait.
///
/// @name align-items
///
/// @group reflex/grid/traits/flexbox
///
/// @output [data-grid] `align-items` trait rules
///
/// @access public
///
/// @since 1.0.0

@mixin align-items {
    [data-grid~="area"][data-grid~="ai-fs"] {
        align-items: flex-start;
    }

    [data-grid~="area"][data-grid~="ai-c"] {
        align-items: center;
    }

    [data-grid~="area"][data-grid~="ai-fe"] {
        align-items: flex-end;
    }
}
